.category-container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}

.back-button {
  font-size: 24px;
  text-transform: capitalize;
}

.back-button:hover {
  background-color: rgb(241, 241, 241);
  text-transform: uppercase;
}
